:root {
    --primary-bg-color: #030712;
    --secondary-bg-color: #111827;
    --main-color: #00abf0;
    --text-color: #f9fafb;
    --normal-color: #ccd0d6;
    --border-color: #1f2937;
    --card-color: #182435;
}

.light-theme {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f9fafb;
    --main-color: #00abf0;
    --text-color: #111827; 
    --normal-color: #1f2937;
    --border-color: #f3f4f6;
    --card-color: #e5e7eb;
}