@import "./fonts.css";
@import "./colors.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background: var(--primary-bg-color);
}


/* Utility Classes */
a {
    text-decoration: none;
    outline: none;
    color: var(--text-color);
    font-size: 1.20rem;
}

li {
    list-style: none;
}

p {
    color: var(--normal-color);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header Area Strat */

::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    /* background: linear-gradient(90deg, rgba(0,171,240,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    padding: 15px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.90rem;
    font-weight: 600;
    color: var(--text-color);
}

.main-nav {
    display: flex;
    gap: 40px;
    /* margin-left: 200px; */
}

.main-nav a {
    font-weight: 400;
    font-size: 1rem;
    transition: 0.5s ease;
}

.main-nav a:hover {
    color: var(--main-color);
}

#open-menu {
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.only-border {
    border-right: 2px solid var(--border-color);
    margin-left: -20px;
    margin-right: -18px;
}

#theme-icon {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Home area start */

section {
    min-height: 100vh;
    padding: 110px 150px 50px;
}

.home-area {
    display: flex;
    align-items: center;
    padding: 165px 90px;
}

.home-content {
    position: relative;
    max-width: 800px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.home-content h1 {
    font-size: 2.50rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .animate-text {
    position: relative;
}

.animate-text .text-change {
    position: relative;
    width: 308px;
    overflow: hidden;
    font-size: 1.80rem;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.animate-text .text-change::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    border-left: 2px solid var(--main-color);
    animation: animate 4s steps(10) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

.animate-text h2 {
    font-size: 1.80rem;
}

.home-content p {
    max-width: 750px;
    font-size: 1rem;
    margin: 30px 3px;
}

.normal-text {
    margin-top: 5px;
    font-weight: 400;
    margin-bottom: 25px;
}

.location {
    font-weight: 400;
}

.location i {
    margin-right: 5px;
}

.live-icon i {
    font-size: 0.8rem;
    animation: available 1s cubic-bezier(0, 0, .2, 1) infinite;
    color: #10b981;
    margin-right: 5px;
}

@keyframes available {
    0% {
        scale: 0.8;
    }

    100% {
        scale: 1;
    }
}

.my-image {
    margin: 0 auto;
    animation: updown 1.2s linear infinite alternate;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.main-btn {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 400px;
    gap: 30px;
    position: relative;
}

.main-btn .btn {
    position: relative;
    padding-block: 10px;
    text-align: center;
    font-weight: 600;
    width: 100%;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 10px;
    color: var(--primary-bg-color);
    overflow: hidden;
    z-index: 1;
    transition: 0.1s ease;
    cursor: pointer;
}

.main-btn .btn:hover {
    color: var(--main-color);
}

.main-btn .btn:nth-child(1) {
    color: var(--primary-bg-color);
}

.main-btn .btn:nth-child(1):hover {
    color: var(--main-color);
}

.main-btn .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.main-btn .btn:nth-child(2)::before {
    background: var(--main-color);
}

.main-btn .btn:nth-child(2):hover {
    color: var(--primary-bg-color);
}

.main-btn .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary-bg-color);
    z-index: -1;
    transition: 0.2s ease-in;
}

.main-btn .btn:hover::before {
    width: 100%;
}

.home-media-icons {
    position: absolute;
    bottom: -30%;
    width: 140px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.home-media-icons a {
    position: relative;
    color: var(--main-color);
    font-size: 1.60rem;
}

.home-media-icons a i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 3px solid var(--main-color);
    border-radius: 50px;
    transition: 0.7s ease;
}

.home-media-icons a i:hover {
    background-color: var(--main-color);
    color: var(--primary-bg-color);
    transform: translateY(-2px);
}

/* About section start */

.about-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: var(--secondary-bg-color);
    color: var(--text-color);
    padding-bottom: 50px;
}

.heading {
    font-size: 2.90rem;
    text-align: center;
    margin-bottom: 55px;
}

.about-image {
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 150px;
}

.about-image img {
    width: 81%;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

span {
    color: var(--main-color);
}

.circle-image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 156%;
    width: 95%;
    transform: translate(-50%, -50%) rotate(0);
    border-radius: 50%;
    border-top: 2px solid var(--secondary-bg-color);
    border-bottom: 2px solid var(--secondary-bg-color);
    border-left: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
}

.about-content {
    padding: 50px 0;
    text-align: center;
}

.about-content h3 {
    font-size: 1.60rem;
}

.about-content p {
    font-size: 1rem;
    margin: 13px 0 18px;
    text-align: justify;
}

.about-content p a {
    text-decoration: underline;
    font-size: 1rem;
}

.btn-3 {
    padding-inline: 120px;
    display: inline-flex;
}

.main-btn.btn-3 a::before {
    background: var(--secondary-bg-color);
}

/* Education section start  */

.education {
    background: var(--primary-bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
}

.education-row {
    display: flex;
    flex-direction: row;
    gap: 55px;
}


.education-content {
    max-width: 90%;
    position: relative;
    padding-left: 15px;
    margin-top: 12px;
}

.education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.9%;
    width: 18px;
    height: 18px;
    border-radius: 40px;
    background: var(--main-color);
}

.education-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 3px solid var(--main-color);
}

.content {
    position: relative;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    z-index: 2;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--secondary-bg-color);
    z-index: -1;
    transition: 0.5s ease;
}

.content:hover::before {
    width: 100%;
}

.title {
    font-size: 1.80rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.content h3 {
    font-size: 1.50rem;
    font-weight: 500;
}

.content p {
    font-size: 1.10rem;
    padding-top: .5rem;
}

.content .year {
    color: var(--main-color);
    margin-bottom: 5px;
}

.content .year i {
    color: var(--main-color);
    margin-left: 2px;
    margin-right: 5px;
}

.content .bullet-points {
  list-style: inside;
}

.slide-box {
    margin-left: -315px;
    width: 625px;
}

.education-box {
    display: none;
    margin-top: 30px;
}

.education-box.active {
    display: block;
    animation: moving 0.4s ease;
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.title.active {
    color: var(--main-color);
}

.title::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    top: 100%;
    left: 0;
    background-color: var(--main-color);
    transition: width 0.4s ease-in-out;
}

.title:hover::before {
    width: 28%;
}

.education-columns {
    position: relative;
    width: 567px;
    margin-right: -320px;
}


/* Skills section start */

.skills {
    background: var(--secondary-bg-color);
    color: var(--text-color);
    padding-bottom: 30px;
}

.all-image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    row-gap: 35px;
}

.col-1-image {
    text-align: center;
}

.col-1-image p {
    font-size: 1.20rem;
    line-height: 2rem;
}

.col-1-image .hovering-image img {
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.col-1-image .hovering-image img:hover {
    transform: scale(1);
}

/* projects section */

.projects {
    color: var(--text-color);
}

.project-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.project-card {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.project-card img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    transition: 0.4s ease;
}

.project-card:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

.project-card .project-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), var(--main-color));
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 0 40px;
    transform: translateY(100%);
    transition: transform 0.4s;
}

.project-card:hover .project-content {
    transform: translateY(0);
}

.project-content h3 {
    font-size: 1.40rem;
    margin-top: 8px;
}

.project-card p {
    font-size: 0.9rem;
    margin-top: 8px;
    margin-bottom: 13px;
}

.project-card .project-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.project-icons i {
    font-size: 1.40rem;
}

/* services section start */

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
}

.services .heading {
    color: var(--text-color);
}

.services-outer {
    display: flex;
    flex-direction: column;
}

.sevices-inner {
    margin-inline: 80px;
    border-radius: 12px;
    padding: 40px 15px;
    overflow: hidden;
}

.service-cards {
    background-color: var(--card-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 4px 4px 20px var(--secondary-bg-color);
    overflow: hidden;
    transform: scale(0.9);
    transition: transform 0.4s ease;
}

.service-cards:hover {
    box-shadow: 0 0 15px var(--main-color);
    transform: scale(1);
}

.cards-content {
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 10;
}

.cards-content i {
    font-size: 1.70rem;
}

.cards-content h3 {
    font-size: 1.50rem;
    margin-top: 8px;
    font-weight: 600;
}

.cards-content p {
    margin-bottom: 12px;
    margin-top: 8px;
}

.cards-content .cards-btn {
    background-color: #00abf0;
    color: var(--primary-bg-color);
    padding: 5px;
    padding-inline: 15px;
    border-radius: 6px;
    margin-top: 8px;
    font-weight: 500;
    transition: 0.2s all ease;
}

.cards-content .cards-btn:hover {
    background: #028bc1;
}

.swiper-button-next,
.swiper-button-prev i {
    font-size: 20px;
}

/* marquee animation section start from here  */
.feature-section {
    padding: 55px 150px 50px;
}

.spc-heading {
    color: var(--text-color);
}

.content-div {
    background-color: var(--card-color);
    padding: 8px 20px;
    width: 370px;
}

.moving-div {
    padding-inline: 160px;
    display: flex;
    position: relative;
    /* overflow: hidden; */
}

.moving-div .move {
    /* padding: 145px; */
    padding-block: 18px;
    display: flex;
    align-items: center;
    gap: 50px;
    /* overflow: hidden; */
    animation: moveii 35s linear infinite reverse;
}

.spc-margin {
    margin-left: 50px;
}

.moving-div .move h4 {
    color: var(--text-color);
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
    padding-top: 10px;
}

.moving-div .move p {
    margin-top: 10px;
    font-size: 0.9rem;
    padding-bottom: 10px;
}

.moving-div .move img {
    height: 70px;
}

@keyframes moveii {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.blur-left {
    position: absolute;
    top: 0;
    left: -14%;
    background: linear-gradient(to right, #030712, transparent);
    height: 100%;
    width: 10%;
    z-index: 2;
}

.blur-right {
    position: absolute;
    top: 0;
    right: -14%;
    background: linear-gradient(to right, transparent, #030712);
    height: 100%;
    width: 10%;
    z-index: 2;
}

.whatsapp-color {
  color: #25D366; 
}

.linkedin-color {
    color: #0077B5;
}

.insta-color {
    /* background: linear-gradient(180deg, #405DE6, #5851D5, #833AB4, #C13584, #E1306C, #FD1D1D); */
    /* background: linear-gradient(to right, #C13584, #6228d7); */
    color: #C13584;
}

/* Contact section start */

.contact {
    min-height: auto;
    background: var(--secondary-bg-color);
    color: var(--text-color);
}

.contact form {
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
}

.input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.input-feild {
    position: relative;
    width: 50%;
    margin: 6px 0;
}

.input-feild input,
.contact form .extra-text textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1rem;
    background: transparent;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    border-radius: 10px;
    outline: none;
}

.input-feild input::placeholder,
.contact form .extra-text textarea::placeholder {
    color: var(--normal-color);
}

input:focus {
    background-color: var(--border-color);
}

#message:focus {
    background-color: var(--border-color);
}

.extra-text {
    margin-top: 10px;
}

.extra-text textarea {
    resize: none;
}

.last-btn {
    width: 150px;
    margin: 10px auto 40px;
}

.btn-last {
    text-align: center;
    font-size: 1.30rem;
}
.input-feild {
    position: relative;
}

.validation {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-size: 0.9rem;
}

.input-feild.name {
    border-color: #2e8b57;
}



/* footer */

.main-footer h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.footer-section {
    background: var(--primary-bg-color);
    color: var(--text-color);
    padding: 30px;
    position: relative;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.footer-links a {
    transition: 0.5s ease;
}

.footer-links a:hover {
    color: var(--main-color);
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.footer-social h3 {
    font-weight: 600;
}

.footer-social a i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 3px solid var(--main-color);
    border-radius: 50px;
    transition: 0.7s ease;
}

.footer-social a i:hover {
    color: var(--primary-bg-color);
    background: var(--main-color);
}

/* sub-footer start */

/* .footer-divider {
    border-top: 1px solid var(--text-color);
    width: 100%;
} */

.subfooter h4 {
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
    margin-top: 7px;
}
