@media screen and (max-width: 1440px) {
    .my-image {
        margin-left: 55px;
    }

    .home-media-icons {
        bottom: -25%;
    }
}

@media screen and (max-width: 1080px) {
    .home-area {
        padding: 250px 44px;
    }

    .my-image img {
        height: 400px;
    }
}

@media screen and (max-width: 840px) {
    section {
        padding: 110px 50px 50px;
    }

    #open-menu {
        display: block;
    }

    .box-icon div {
        position: relative;
        width: 35px;
        height: 30px;
    }

    .box-icon span {
        background-color: var(--text-color);
        height: 3px;
        width: 90%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease-in-out;
    }

    .box-icon .line-1 {
        transform: translate(-50%, -9px);
    }

    .box-icon .line-3 {
        transform: translate(-50%, 6px);
    }

    .openmenu .line-1 {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .openmenu .line-2 {
        width: 0;
    }

    .openmenu .line-3 {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .only-border {
        display: none;
    }

    .main-nav {
        flex-direction: column;
        position: absolute;
        left: 100%;
        top: 100%;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px 0;
        height: 100vh;
        background-color: var(--primary-bg-color);
        transition: 0.4s all ease;
    }

    .main-nav.active {
        left: 0;
    }

    .main-nav a {
        font-size: 1.50rem;
        margin-top: -15px;
    }

    #theme-icon {
        margin-top: -18px;
    }

    .home-area {
        padding: 180px 90px;
        display: flex;
        flex-direction: column-reverse;
    }

    .my-image {
        margin: 0 auto;
    }

    .education-content::before {
        left: -2.1%;
    }

    .education-row {
        gap: 10px;
    }

    .skills {
        padding-left: 50px;
        padding-right: 50px;
    }

    .services {
        padding: 20px;
    }

    .services .heading {
        margin-top: 55px;
    }

}

@media screen and (max-width: 768px) {
    .my-image {
        margin: 0 auto;
    }

    .animate-text .text-change {
        font-size: 1.40rem;
    }

    .education-row {
        flex-direction: column;
        gap: 40px;
    }

    .education-box {
        display: block;
        margin-top: 1px;
    }

    .education-box.active {
        display: block;
        animation: none;
    }

    .education-columns {
        width: 100%;
        margin-right: 0;
    }

    .title.active {
        color: var(--text-color);
    }

    .title::before {
        display: none;
    }

    .slide-box {
        margin-left: 0;
        width: 100%;
    }

    .education-content {
        max-width: 98%;
    }

    .education-content::before {
        left: -1.7%;
    }

    .content h3 {
        font-size: 1.20rem;
    }

    .content p {
        font-size: 1rem;
    }

    .skills-column .title {
        font-size: 1.50rem;
    }

    .education-columns .title {
        font-size: 1.50rem;
    }

    .skills-row {
        flex-direction: column;
        gap: 15px;
    }

    .skills-column {
        flex: 1 1 35rem;
    }

    .progress h3 {
        font-size: 1.20rem;
    }

    .cards-content h3 {
        font-size: 1.10rem;
    }

    .cards-content p {
        font-size: 0.9rem;
    }

    .cards-content .cards-btn {
        font-size: 0.9rem;
    }

    .heading {
        font-size: 2.50rem;
    }
}

@media screen and (max-width: 530px) {
    header {
        padding: 8px 30px;
    }

    .home-area {
        padding: 135px 40px;
    }

    .home-media-icons {
        bottom: -22%;
    }

    .my-image img {
        height: 350px;
    }

    .education {
        padding-left: 50px;
        padding-right: 50px;
    }

    .education-content::before {
        left: -2.9%;
    }

    .all-image-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 25px;
    }
}

@media screen and (max-width: 479px) {
    section {
        padding: 110px 40px 50px;
    }

    .box-icon span {
        width: 76%;
    }

    .home-content {
        margin: 0 auto;
    }

    .home-content h1 {
        font-size: 2rem;
    }

    .home-content .animate-text h3 {
        font-size: 1.20rem;
    }

    .home-content p {
        font-size: 0.9rem;
        line-height: 1.50rem;
    }

    .heading {
        font-size: 2rem;
    }

    .main-btn {
        gap: 17px;
    }

    .main-btn .btn {
        font-size: 0.9rem;
        padding-block: 9px;
        width: 35%;
    }

    .animate-text {
        margin-top: 10px;
    }

    .animate-text .text-change {
        font-size: 1.10rem;
    }

    .animate-text h2 {
        font-size: 1.10rem;
    }

    .btn-3 {
        justify-content: center;
        padding-inline: 0;
    }

    .input-box {
        flex-direction: column;
    }

    .input-feild {
        width: 100%;
    }

    .last-btn {
        width: 284%;
    }

    .services .heading {
        margin-top: 0;
    }

    .services {
        padding: 0;
    }

    .sevices-inner {
        margin-inline: 56px;
    }

    .cards-content {
        padding: 16px;
    }

    .contact form {
        max-width: 85%;
    }

    .main-footer h2 {
        text-align: start;
    }

    .footer-links {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .footer-social {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 455px) {
    .home-area {
        padding: 180px 35px;
    }

    .home-content p {
        padding-right: 39px;
    }

    .col-1-image .hovering-image img {
        height: 55px;
    }

    .col-1-image p {
        font-size: 0.9rem;
        line-height: 1.10rem;
    }
}

@media screen and (max-width: 425px) {
    section {
        padding: 110px 5px 50px;
    }

    .my-image img {
        height: 300px;
    }

    .logo {
        font-size: 1.40rem;
    }

    header {
        padding: 10px 25px;
    }

    .main-nav a {
        font-size: 1.20rem;
    }

    .heading {
        font-size: 1.80rem;
    }

    .home-area {
        padding: 140px 24px;
    }

    .home-content {
        margin: 0 auto;
    }

    .home-content p {
        font-size: 0.9rem;
        max-width: 89%;
        padding-right: 36px;
    }

    .home-media-icons {
        bottom: -21%;
    }

    .home-media-icons a {
        font-size: 1.20rem;
    }

    .home-media-icons a i {
        height: 42px;
        width: 42px;
    }

    /* .animate-text {
        width: 161px;
    } */

    .about-content p {
        font-size: 0.9rem;
        padding: 0 26px;
    }

    .about-content p a {
        font-size: 0.9rem;
    }

    .btn-3 {
        justify-content: center;
        padding-inline: 0;
    }

    .education-columns .title {
        font-size: 1.20rem;
    }

    .education-content::before {
        left: -3.5%;
    }

    .content h3 {
        font-size: 1rem;
    }

    .content p {
        font-size: 0.9rem;
        text-align: justify;
    }

    .content .bullet-points {
        font-size: 0.9rem;
    }

    .skills-column .title {
        font-size: 1.20rem;
    }

    .skills-column {
        flex: 1 1 33rem;
    }

    .skills-row {
        gap: 8px;
    }

    .contact form {
        max-width: 70%;
    }

    .contact .heading {
        margin-bottom: 15px;
    }

    .input-box {
        gap: 0;
    }

    .input-feild input,
    .contact form .extra-text textarea {
        font-size: 0.9rem;
    }

    .last-btn {
        width: 284%;
    }

    .main-footer h2 {
        font-size: 1.50rem;
    }

    .footer-links {
        gap: 15px;
    }

    .footer-links a {
        font-size: 0.9rem;
    }

    .footer-social h3 {
        font-size: 1rem;
    }

    .footer-social a {
        font-size: 1.20rem;
    }

    .footer-social a i {
        height: 41px;
        width: 41px;
    }

    .subfooter h4 {
        font-size: 0.9rem;
    }

}