@import "./colors.css";
@import "./fonts.css";

body,
html {
    height: 100vh;
    width: 100%;
}

body {
    background: var(--primary-bg-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* body::before {
    content: '';
    position: fixed;
    top: 32%;
    left: 89%;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
} */

/* body::after {
    content: '';
    position: fixed;
    top: 85%;
    right: 89%;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    z-index: -1;
    background: linear-gradient(#2196f3, #1161a3);
    clip-path: circle(30% at 10% 10%);
} */

a {
    color: var(--White);
    text-decoration: none;
}

li {
    list-style: none;
}

/* utility classes  */

.container {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 20px;
}

.flex {
    display: flex;
    align-items: center;
}

/* nav bar section start from here  */

#pop-up-menu {
    display: flex;
}

#pop-up-menu ul {
    display: flex;
    gap: 30px;
}

.nav-menu {
    cursor: pointer;
    transition: 0.4s ease;
}

.nav-menu:hover {
    color: var(--main-color);
}

.nav-menu:hover i {
    transform: rotate(180deg);
}

@keyframes drop-down {
    0% {
        top: 16%;
        background-color: none;
    }

    100% {
        top: 70%;
        background-color: rgba(0, 0, 0, 0.2);
        /* background-color: rgba(255, 255, 255, 0.11); */
    }
}

.pop {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    padding: 10px 0 11px 0;
    top: 70%;
    animation-name: drop-down;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    width: 225px;
}

.nav-menu:hover .pop {
    display: flex;
}

.pop li a {
    line-height: 1.6;
    transition: 0.3s ease;
    text-decoration: none;
    color: var(--text-color);
}

.pop li a:hover {
    color: var(--main-color);
}

.pop li {
    padding: 9px 45px 9px 17px;
    border-bottom: 1px solid var(--main-color);
}

.pop li:last-child {
    padding: 9px 45px 9px 17px;
    border-bottom: none;
}

.theme-icon {
    height: 20px;
}

/* main section start from here  */
.main-heading {
    margin-top: 120px;
    text-align: center;
    font-size: 2rem;
}

.spc-padding {
    padding-inline: 35px;
}

.webdev-outer .webdev-inner h2 {
    font-size: 1.6rem;
    margin-top: 40px;
    font-weight: 600;
}

.webdev-outer .webdev-inner .main-content-div {
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.057);
    backdrop-filter: blur(20px);
    /* background-color: #182435; */
    margin-top: 20px;
    padding: 20px 25px;
    justify-content: space-between;
    gap: 50px;
    border-top-left-radius: 22px;
    border-bottom-right-radius: 50px;
}

.main-content-div .left-image img {
    height: 350px;
    border-top-left-radius: 22px;
    border-bottom-right-radius: 50px;
}

.main-content-div .right-text h3 {
    margin-top: 10px;
    font-weight: 600;
}

.main-content-div .right-text h4 {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 22px;
    font-size: 0.9rem;
    font-weight: 600;
    border: 1px solid var(--main-color);
    /* background: transparent; */
    border: 1px solid rgba(255, 255, 255, 0.05);
    /* background-color: rgba(255, 255, 255, 0.057); */
    backdrop-filter: blur(25px);
    /* background-color: var(--primary-bg-color); */
    color: var(--text-color);
}

.main-content-div .right-text p {
    margin-bottom: 30px;
    margin-top: 8px;
    color: var(--normal-color);
}

.main-content-div .right-text .service-btn {
    padding: 10px 40px;
    background-color: var(--main-color);
    color: var(--primary-bg-color);
    font-weight: 600;
    border-radius: 10px;
}

.main-content-div .right-text .service-btn span i {
    color: var(--primary-bg-color);
}


/* media quires start from here  */
@media only screen and (max-width: 920px) {
    .webdev-outer .webdev-inner .main-content-div {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 40px 70px;
    }

    .webdev-outer .webdev-inner .main-content-div .left-image {
        width: 100%;
    }

    .webdev-outer .webdev-inner .main-content-div .left-image img {
        width: 100%;
        height: 100%;
    }

    .main-content-div .right-text .service-btn {
        padding: 8px 65px;
    }
}

@media only screen and (max-width: 579px) {
    .webdev-outer .webdev-inner .main-content-div {
        padding: 40px 25px;
    }
}

@media only screen and (max-width: 479px) {
    .webdev-outer .webdev-inner h2 {
        font-size: 1.20rem;
    }

    .main-content-div .right-text h4 {
        font-size: 0.8rem;
    }

    .main-content-div .right-text p {
        font-size: 0.9rem;
    }

}